JDBC_DATABASE_URL=jdbc:postgresql://ep-winter-base-admvuj0a-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
DATABASE_USERNAME=neondb_owner
DATABASE_PASSWORD=pon_aqui_tu_password_de_neon
ADMIN_USER=admin
ADMIN_PASSWORD=Admin123@
TOKEN_SECRET=cambia-este-token-local-por-uno-largo
CORS_ALLOWED_ORIGIN=http://localhost:4200
